@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  --main-bg-color: #f2f2f2;
  --column-bg: #fff;
  --column-box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, .1);;
  --navbar-bg1: #2e2c2c;
  --navbar-bg2: #d61111;
}


#favicon {
	width: 180px;
	height: 120px;
	background: #fff;
	padding: 10px;;
}

	

.fa-bars:focus {
	 border-color: none!important;
}


.header-top {
	display: grid;
	grid-template-columns: 20% 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: "trend text"
	"date social-icon";
	padding-bottom: .4rem;
	justify-content: center;
}

.trend {
	grid-area: trend;
	font-size: 1.3rem;
}

.trend .box {
	width: 200px;
	padding: .2rem;
	
}

.trend .box, .home .fa-home, .navbar .fa-search {
	background: var(--navbar-bg2);
}


.title, .box, .date, .home .fa-home  {
	color: var(--column-bg);
}


.trend, .title {
	background: var(--navbar-bg1);
	height: 50px;;
	padding: .4rem;
	text-align: center;
	display: flex;
}

.title {
	grid-area: text;
	padding: .4rem;
	font-size: 1.2rem;
	font-weight: normal;;
}



.date {
	grid-area: date;
	margin: 0 auto;
	text-align: center;
}



.home .fa-home , .navbar .fa-search {
	width: 52px;
	height: auto;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	top: 0;
	color: #fff
}

.home .fa-home {
	left: 30px;
}

 .navbar .fa-search {
	right: 15%;
	cursor: pointer;
}


.navbarSearch {
	position: absolute;
	right: 20%;
	top: 100%;
	z-index: 1;
	background-color: #fff;
	border: 1px solid #111;
	padding: 1rem;
	display: none;
}


.navbarSearch input[type="text"] {
	width: 200px!important;
}

.navbarSearch input[type="text"], .navbarSearch input[type="submit"] {
	border-radius: 0!important;
}


	.navbar .nav-link {
    font-family: 'Roboto Slab', serif!important;

}


.social-icon {
	grid-area: social-icon;
}


.social-icon .fab {
	font-size: 1.3rem;
	margin-right: 6px;
	margin-left: 6px;
}

.fa-facebook-f {
	color: blue;
}

.fa-twitter {
	color: dodgerblue;
}

.fa-instagram {
	color: #ff7900;
}

.fa-google {
	color: #f00;
}
 .input-group-prepend .search, .input-group-prepend button {
	border-radius: 0!important;
	border: 0;;
	float: right;
}



	

 @media (max-width: 768px),  (max-width: 1024px)  {

	.navbar {
	display: relative;
	padding: .4rem!important;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem;
    border-top: 3px solid #f00;
    text-align: center;
    font-family: 'Roboto Slab', serif;

}



.navbar-nav .nav-link {
    border-bottom: 2px solid #ccc;
    border-bottom-style: inset;;
}

.navbar .fa-home, .navbar .fa-search  {
	top: 0;
	bottom: 0;
	height: 45px;
}

.navbar .fa-home {
	left: 12px;
	}

	.navbar .fa-bars {
	right: 24rem;
	width: 50px;
	margin-right: 84%;
	color: var(--navbar-bg2)!important;
	font-size: 1.5rem;
	}

	.navbar .fa-search {
	right: 12px;
	}

	.header-top {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "trend text"
		"date social-icon";
	}
	
	.trend {
		height: 42px;
		width:  100%;
		font-size: 1rem;
		border-bottom: 2px solid #f00;
	}

	.title {
		height: 42px;
		font-size: 1rem;
		border-bottom: 2px solid #f00;
		
	}

	.trend, .title {
		padding-top: 12px;
		text-align: center;

	}

.trend .box {
	padding: 1px;
	margin: 0 auto;
	
}
	

 }


@media (max-width: 576px) {

	.navbar {
	display: relative;
	padding: .4rem!important;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem;
    font-family: 'Roboto Slab', serif;
    border-top: 3px solid #f00;
    text-align: center;
}
	.navbar .fa-home, .navbar .fa-search  {
	top: 0;
	bottom: 0;
	height: 47px;
}

	.navbar .fa-home {
	left: 8px;
	}

	.navbar .fa-bars {
	left: 65px;
	width: 50px;
	right: 18rem;
	width: 50px;
	margin-right: 66%;
	color: var(--navbar-bg2)!important;
	font-size: 1.5rem;
	}

	.navbar .fa-search {
	right: 8px;
	}

		#favicon {
		width: 124px;
		height: 100px;
		padding: 10px;;
		margin: 5% auto;
	}

	.header-top {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "trend"
		"text"
		"date"
		"social-icon";
	}
	
	.trend {
		padding: .4rem;
		font-size: 1.3rem;
		margin: 0 auto;
	}

	.title {
		font-size: .7rem;
		border-bottom: 2px solid #f00;
		text-align: center;
	}

	.trend, .title {
	height: 50px;;
	padding: .4rem;
	display: block;;
}
	
	.date {
		padding-top: .8rem;
	}
	
	.social-icon {
		margin: 0 auto;
		padding-bottom: 12px;
		padding-top: 12px;
	}

	


}


